body {
  background-color: #eaf6f6;
}

hr {
  border-style: dotted none none;
  border-width: 6px;
  border-color: grey;
  width: 9%;
}

h1{
  color: #66bfbf;
}

h3{
  color: #66bfbf;
}

.Profile{
  background-color: red;
}

.circle{
  border-radius: 100%
}
